# Folders
front-end-dev-resources



# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
  
